{% extends 'practitioner/base.html' %}

{% block inner %}

{% load crispy_forms_tags %}

<section class="section-dr">
    <h1>Create New Report</h1>

    <div class="dr-form">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
            {{ form.type_of_consultation|as_crispy_field }}
            </div>
            <div class="mb-3">
            {{ form.result|as_crispy_field }}
            </div>
            <div class="mb-3">
            {{ form.diagnosis|as_crispy_field }}
            </div>
            <div class="mb-3">
            {{ form.decision|as_crispy_field }}
            </div>
            
            <button type="submit" class="btn btn-primary btn-success">Create Report</button>
        </form>
    </div>

</section>
{% endblock %}