{% extends 'practitioner/base.html' %}

{% block inner %}

<section class="section-dr">
    <h1>Patient Details</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">SSN</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Gender</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ patient.first_name }}</td>
                    <td>{{ patient.last_name }}</td>
                    <td>{{ patient.ssn }}</td>
                    <td>{{ patient.birthdate }}</td>
                    <td>{{ patient.gender }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="dr-box dr-box-search">
        <a href="{% url 'new-case' patient_id=patient.pk %}">Create New Report</a>
    </div>

</section>


{% endblock %}